.DS_STORE
*.log
.env

node_modules

build
intl/messages
coverage

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml


.npmrc
yarn-error.log

.idea
.package-lock.json