.main {
  margin-top: 2rem;
  padding: 0 0.5rem;
}

.header {
  text-align: center;
}
.footer {
  margin-top: 1rem;
  text-align: center;
}

.buttonBar {
  text-align: center;
}

.buttonBar .btn + .btn {
  margin-left: 2rem;
}